<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="{% url 'superheroes:create_new_superhero' %}" method=""post>
    {% csrf_token %}
    Name:<input type="text" name="name" id="name"><br>
    Genre:<input type="text" name="genre" id="genre"><br>
    Runtime:<input type="text" name="runtime" id="runtime"><br>
    Release Date:<input type="date" name="date" id="date"><br>
    <input type="submit" value="Add new!">
</form>
</body>
</html>